# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.log
model/*.json

# Modèles
*.h5
*.tflite
results/

# Données
test
data
data/raw/
data/processed/

# Environnements
.env
.venv/
env/
venv/
data_split/
preprocessing_output/
logs/
/data-non-leafs
DATASETS_RECOMMANDES_SORGHO_MIL_MAIS.md
GUIDE_BACKGROUND_DATASET.md
GUIDE_DATASETS_GRATUITS.md
GUIDE_IMPLEMENTATION_BACKGROUND.md
PLAN_AMELIORATION_DATASET.md
/.dropstone
secret.txt
/.kiro
agri_desease_detect_app/env_models
AUTH_SIMPLE_GUIDE.md
AUTH_TELEPHONE_GUIDE.md
CHAT_SYSTEM_GUIDE.md
CORRECTION_AUTH_FINALE.md
GUIDE_AUTH_MOT_DE_PASSE.md
IMPLEMENTATION_AUTH_SIMPLE.md
INSTRUCTIONS_FINALES.md
SECURITE_AUTHENTIFICATION.md
SOLUTION_VENDORID_NULL.md
AMELIORATIONS_FINALES.md
CORRECTION_APPBAR_COLORS.md
SYSTEME_ROLES_VENDEURS.md
GUIDE_SYSTEME_VENDEURS.md
GUIDE_TEST_SYSTEME_VENDEURS.md
IMPLEMENTATION_SYSTEME_VENDEURS.md
INSTRUCTIONS_MISE_A_JOUR.md
QUICK_START_ROLES.md
QUICK_START_SYSTEME_VENDEURS.md
RECAP_IMPLEMENTATION_COMPLETE.md
RESUME_AMELIORATIONS.md
COMMANDES_TEST_RAPIDE.md
AMELIORATIONS_UI_UX.md
FIX_VERIFICATION_RLS.md
GUIDE_VERIFICATION_TELEPHONE.md
IMPLEMENTATION_VERIFICATION_ETAPES.md
INSTRUCTIONS_VERIFICATION_SIMPLE.md
SYSTEME_VERIFICATION_TELEPHONE_COMPLET.md
TEST_VERIFICATION_RAPIDE.md
QUICK_FIX_VERIFICATION.md
FIX_RETOUR_VERIFICATION.md
INSTALL_SELECTEUR_PAYS.md
SELECTEUR_PAYS_TELEPHONE.md
ACCES_PANEL_ADMIN_VERIFICATIONS.md
CORRECTION_CODES_VERIFICATION.md
CORRECTION_VENDOR_FUNCTIONS.md
fix_pending_verifications_view.sql
SOLUTION_SIMPLE_CODE.md
supabase_check_vendor_functions.sql
supabase_vendor_functions.sql
supabase_verification_functions.sql
DEBUG_PAGE_BLANCHE_MESSAGES.md
CORRECTION_MESSAGERIE.md
supabase_add_onesignal_player_id.sql
supabase_notifications_complete.sql
supabase_notifications_v1.sql
supabase_add_fcm_token.sql
tiptiga-firebase-service-account.json
agri_desease_detect_app/android/app/google-services.json
/.local
