# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.log
model/*.json

# Modèles
*.h5
*.tflite
results/

# Données
test
data
data/raw/
data/processed/

# Environnements
.env
.venv/
env/
venv/
data_split/
preprocessing_output/
logs/
/data-non-leafs
DATASETS_RECOMMANDES_SORGHO_MIL_MAIS.md
GUIDE_BACKGROUND_DATASET.md
GUIDE_DATASETS_GRATUITS.md
GUIDE_IMPLEMENTATION_BACKGROUND.md
PLAN_AMELIORATION_DATASET.md
/.dropstone
secret.txt
/.kiro
agri_desease_detect_app/env_models
AUTH_SIMPLE_GUIDE.md
AUTH_TELEPHONE_GUIDE.md
CHAT_SYSTEM_GUIDE.md
CORRECTION_AUTH_FINALE.md
GUIDE_AUTH_MOT_DE_PASSE.md
IMPLEMENTATION_AUTH_SIMPLE.md
INSTRUCTIONS_FINALES.md
SECURITE_AUTHENTIFICATION.md
SOLUTION_VENDORID_NULL.md
AMELIORATIONS_FINALES.md
