# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.log
model/*.json

# Modèles
*.h5
*.tflite
results/

# Données
test
data
data/raw/
data/processed/

# Environnements
.env
.venv/
env/
venv/
data_split/
preprocessing_output/
logs/
/data-non-leafs
DATASETS_RECOMMANDES_SORGHO_MIL_MAIS.md
GUIDE_BACKGROUND_DATASET.md
GUIDE_DATASETS_GRATUITS.md
GUIDE_IMPLEMENTATION_BACKGROUND.md
PLAN_AMELIORATION_DATASET.md
/.dropstone
secret.txt
/.kiro
